<p>Dear {{ customerName }},</p>

<p>
    We had to cancel your booking with {{ artistName }} on {{ date }} as we could not reserve {{ price / 100 }}nok on your card.<br />
    You can still re-book the {{ artistName }} for event on {{ date }} having enough card balance.<br />
    For re-booking contact {{ artistName }} directly.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>