<div class="modal fade" id="cancel-booking" tabindex="-1" role="dialog" aria-labelledby="signinFormLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="{{ asset('images/error.png') }}" alt="">
                </a>
            </div>

            <div class="modal-body">

                <img src="{{ asset('images/icons/red/cancel.svg') }}" alt="">

                <div class="title">{{ 'artist.edit.booking.wrong.title' | trans }}</div>
                <div class="subtitle">{{ 'artist.edit.booking.wrong.subtitle' | trans }}</div>

                <button type="button" class="btn-signup close" data-dismiss="modal">{{ 'artist.edit.booking.wrong.button' | trans }}</button>

            </div>
        </div>
    </div>
</div>